[Unit]
Description=ePaper Weather Service
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/PATH_TO_PROJECT/epaper-weather
ExecStart=/usr/bin/python /home/pi/PATH_TO_PROJECT/epaper-weather/main.py

[Install]
WantedBy=multi-user.target
